body {

	padding:	0;
	margin:		0;
	overflow: 	hidden;
	font-size: 12px;

}

#toolbar {

	position: absolute;
	left: 40px;
	top: 80px;
	border: 10px solid black;
	border-radius: 15px;
	padding: 10px;
	height: 200px;
	width: 150px;

}

#toolbar p {

	font-size: 14px;
	font-weight: 900;
	bottom: 10px;
	padding-right: 20px;

}

#toolbar a {

	cursor: pointer;
	text-shadow: 3px 3px 3px lightgray, 3px 3px 3px lightgray, 3px 3px 3px lightgray;
	
}

#toolbar a:hover {

	color: red;
	text-shadow: 3px 3px 3px lightgray, 3px 3px 3px lightgray, 3px 3px 3px lightgray;

}

select {

	width: 150px;
	margin-left: auto; margin-right: auto;
}

img#mainimg {

	display: block;
	margin-left: auto; margin-right: auto;
	margin-top: 40px;
	border: 10px solid black;
}

.navarrow {

	text-decoration: none;
	font-family: Courier, Arial;
	font-size: 120px;
	font-weight: 900;
	color: #000000;
	position: absolute;
	display: inline;
	padding: 0;
	margin: 0;
	bottom: 100px;
	cursor: pointer;
	
}
